/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v17/FwZY7-Qmy14u9lezJ-6J6MmTpA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v17/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.full-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98%;
  width: 100%;
  margin-bottom: 1rem;
}

h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: 3rem;
  font-weight: 300;
}

p {
  color: gray;
}

#vanilla-span {
  color: rgb(146, 58, 146);
}

#milk-span {
  color: rgb(219, 215, 154);
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 70%;
  width: 70%;
  min-height: 85%;
}

.list-container {
  display: flex;
  justify-content: center;
  min-height: 85%;
  min-width: 95%;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  padding: 0.5rem;
}

.add-task-container {
  display: flex;
  justify-content: space-between;
  min-width: 95%;
  min-height: 10%;
  padding-top: 0.5rem;
}

button {
  justify-self: end;
  border: 1px solid lightgray;
  border-radius: 50%;
  color: rgb(146, 58, 146);
  background-color: lightgray;
  margin-left: 0.5rem;
  min-height: 2rem;
  height: 2rem;
  min-width: 2rem;
}

input {
  justify-self: start;
  border: 1px solid lightgray;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
  width: 92%;
  height: 2rem;
}

input:focus,
button:focus {
  outline: none !important;
  border: 1px solid rgb(146, 58, 146);
}

input:hover,
button:hover {
  border: 1px solid rgb(194, 76, 194);
  color:  rgb(194, 76, 194);
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 0.5rem;
}