/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v17/FwZY7-Qmy14u9lezJ-6J6MmTpA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v17/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::-webkit-scrollbar {
  display: none;
}

p {
  color: gray;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(66, 66, 66);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  height: 95%;
  width: 80%;
  border: 1px solid rgb(66, 66, 66);
  background-color: rgb(212, 204, 86);
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr 1fr;
  grid-template-areas: 
    "appHeader"
    "listContainer"
    "appInputAndControlls";
}

.header {
  grid-area: appHeader;
  display: flex;
  justify-content: center;
  margin: -1.5% 0% -1.5% 0%;
}

h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: 3rem;
  font-weight: 300;
}

#vanilla-span {
  color:rgb(236, 232, 172);
}

#milk-span {
  color: rgb(240, 240, 240);
}

main {
  grid-area: listContainer;
  overflow: auto;
  padding: 0;
  background-color: rgb(236, 232, 172);
}

.input-and-control-container {
  grid-area: appInputAndControlls;
  margin: 1.5% 5% 1.5% 5%;
}

.add-task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.delete-list-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

button {
  border: 1px solid lightgray;
  border-radius: 50%;
  color: rgb(66, 66, 66);
  background-color: lightgray;
  margin: 0rem 0rem 0rem 0.5rem;
  min-height: 2rem;
  height: 2rem;
  min-width: 2rem;
  text-align: center;
}

input {
  border: 1px solid lightgray;
  border-radius: 0.4rem;
  margin: 0;
  width: 90%;
  height: 2rem;
  color:rgb(66, 66, 66);
  font-size: larger;
  padding: 0.5rem 1rem 0.5rem 1rem; 
}

input:focus,
button:focus {
  outline: none !important;
  border: 1px solid rgb(67, 179, 72);
}

input:hover {
  border: 1px solid rgb(67, 179, 72);
} 

button:hover {
  border: 1px solid  rgb(67, 179, 72);
  color: rgb(67, 179, 72);
}

footer {
  font-size: 0.5rem;
}

.active-task,
.completed-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(170, 170, 170);
  font-size: larger;
} 

.active-task {
  background-color: rgb(240, 240, 240);
  color: rgb(66, 66, 66);
  /* height: auto; */
}

.completed-task {
  background-color: rgb(180, 180, 180);
  color: rgb(66, 66, 66);
  /* height: auto; */
}

.delete-task-button,
.delete-list-button,
.edit-task-button,
.complete-task-button {
  color: rgb(66, 66, 66);
}

.complete-task-button:hover,
.complete-button:focus {
  color:rgb(67, 179, 72);
  border: 1px solid rgb(67, 179, 72);
}

.edit-task-button:hover,
.edit-task-button:focus {
  color:rgb(150, 135, 0);
  border: 1px solid rgb(150, 135, 0);
}

.save-on-edit-task-button {
  color:rgb(150, 135, 0);
  border: 1px solid rgb(150, 135, 0);
}

.delete-task-button:hover,
.delete-task-button:focus,
.delete-list-button:hover,
.delete-list-button:focus  {
  color:rgb(216, 16, 16);
  border: 1px solid rgb(216, 16, 16);
}

.delete-list-button:hover,
.delete-list-button:focus  {
  background-color:rgb(190, 60, 60);
  color:rgb(180, 180, 180);
  border: 1px solid rgb(190, 60, 60);
}

.hide {
  display: none;
}

/*rgb(236, 232, 172);*/